art
beautifulsoup4
cryptography
datasets
flask
flask_oauthlib==0.9.5
gtts
ipykernel
keras
langchain
langchain-openai
matplotlib
mlflow
numpy
opencv-python
openai
pandas
Pillow==9.2.0
python-dotenv
pydub
requests
scikit-learn==1.1.2
tensorflow==2.15.*
tensorflow_privacy
textattack
tqdm
transformers
